# Data structure > way of organizing and storing data so that it can be accessed and manipulated efficiently.

# List > It is an ordered collection of elements that can be of any datatypes, integer, float
# List are mutable (change the element after creation)

In [ ]:
num = [1, 2, 3, 4, 5]
print(type(num))

print(num[2])

lis = [1, 2, "ayush", True, 3 + 7j]
print(type(lis))

lis.append("Pw Skills")
print(lis)

lis.remove("ayush")
print(lis)

In [7]:
lis = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(type(lis))

print(lis[0][1]) # 2

<class 'list'>
2

In [8]:
shopping_list = ["Banana", "Apple", 3, 4.5, True]
type(shopping_list)

for items in shopping_list:
    print(items, end=" ")

Banana Apple 3 4.5 True

# Tuples > immutable

In [10]:
point = (2, 4)
print(type(point))

<class 'tuple'>

In [11]:
point  = ("Ayush", 1, 2, 3.4)
print(type(point))

<class 'tuple'>

In [13]:
name = ("Ayush", "Ankit", "Aman")
print(name[1])

name[1] = "Banglore" #Error

Ankit

TypeError: 'tuple' object does not support item assignment

In [14]:
bag1 = ("a", "b")
bag2 = ("c", "d")

chocolate_bag = (bag1, bag2)
print(chocolate_bag)

for bag in chocolate_bag:
    for choc in bag:
        print(choc)

(('a', 'b'), ('c', 'd'))
a
b
c
d

# Sets > are unordered collections of unique elements

In [15]:
s = {"red", "blue"}
print(type(s))

<class 'set'>

In [17]:
s = {1, 1, 1, "a", 'a'}
print(s)
print (s[0])

{'a', 1}

TypeError: 'set' object is not subscriptable

In [21]:
s = {"a", 1.3}
s.add("PW Skills")
print(s)

s.add("PW Skills") # It always add unique element
print(s)

s.remove("PW Skills")
print(s)

{'a', 1.3, 'PW Skills'}
{'a', 1.3, 'PW Skills'}
{'a', 1.3}

In [22]:
grocery_list = {"apple", "banana", "orange", "banana", "orange"}
print(grocery_list)

{'apple', 'banana', 'orange'}

# Dictionaries > data is stored in key value pair

In [23]:
s = {}
print(type(s))

<class 'dict'>

In [25]:
my_dict = {"key_course" : "data science", "duration" : 2}
print(my_dict)
print(type(my_dict))

{'key_course': 'data science', 'duration': 2}
<class 'dict'>

In [31]:
phonebook = {"Dad" : 1234, "Mom" : 234}
print(phonebook["Dad"])

1234

In [29]:
phonebook = {"Dad" : 1234, "Mom" : 234, "Dad" : 789}
print(phonebook)

print(phonebook.keys())
print(phonebook.values())

phonebook["Dad"] = "I have changed any no"
print(phonebook)

{'Dad': 789, 'Mom': 234}
dict_keys(['Dad', 'Mom'])
dict_values([789, 234])
{'Dad': 'I have changed any no', 'Mom': 234}

In [34]:
from array import  array # array is similar to list > stores homogeneous data

a = array('i', [1, 2, 3, 4])
print(a)
print(a[0])

array('i', [1, 2, 3, 4])
1

In [35]:
a = array('i', [1, 2, 3, 4, "ayush"])
print(a) # Error

TypeError: 'str' object cannot be interpreted as an integer