# Set >> sets are collection of unique and unordered elements.
# don't allow duplicate elements >> not maintain any order and it will not be indexed.

In [1]:
s = {}
print(type(s))

<class 'dict'>

In [2]:
s = {1, 2, 3, 4}
print(type(s))

<class 'set'>

In [1]:
s = {1, 2, 1, 1, 2, 2, 1, 2, 'ayush', 'Ayush', 'ayush'}
print(s)

{1, 2, 'ayush', 'Ayush'}

In [3]:
list1 = [2, 3, 4, 4, 4, 5, 5]
s = set(list1)
print(s)

{2, 3, 4, 5}

In [4]:
print(list(s))

[2, 3, 4, 5]

In [5]:
print(s[0])

TypeError: 'set' object is not subscriptable

In [6]:
a = {1, 2, 3, 4, 4, 3, 2, [1, 2, 3]}
print(a)

TypeError: unhashable type: 'list'

In [1]:
s = {1, 2, 3, 3, 2, 1, 1, 2, (1, 2, 3)}
print(s[0])

TypeError: 'set' object is not subscriptable

In [2]:
print(s[::-1])

TypeError: 'set' object is not subscriptable

In [3]:
for i in s:
    print(i)

1
2
3
(1, 2, 3)

In [4]:
print(len(s))

4

In [7]:
s = {1, 2, 3, 1, 2, (1, 2, 3)}
s.add(100)
print(s)

{1, 2, 3, 100, (1, 2, 3)}

In [8]:
s.pop()
print(s)

{2, 3, 100, (1, 2, 3)}

In [9]:
s.remove(2)
print(s)

{3, 100, (1, 2, 3)}

In [11]:
s.update(2) # update will not work with integer
print(s)

TypeError: 'int' object is not iterable

In [12]:
s.update("2")
print(s)

{3, 100, (1, 2, 3), '2'}

In [13]:
del s
print(s)

NameError: name 's' is not defined

In [14]:
s = {(1, 2, 3), 100, '2', 3}
s.clear()
print(s)

set()

In [16]:
s = {(1, 2, 3), 100, '2', 3}
s.discard('2')
print(s)

{3, 100, (1, 2, 3)}

In [20]:
s.remove(5) # remove will throw an error if the given element is not present in set

KeyError: 5

In [23]:
s.discard(5) # error will not be thrown if element is not present
print(s)

{3, 100, (1, 2, 3)}

# Set operations

# Union :- combines elements from two sets excluding duplicates
# Intersection :- only common elements between sets
# Difference :- return the elements that is present in first set and not in second
# Symmetric difference :- returns elements that are present in either of sets but not in both

In [ ]:
s1 = {"hiking", "reading", "coding"}
s2 = {"coding", 'photography', "travelling"}

# intersecting >> &

In [27]:
s1 = {"hiking", "reading", "coding"}
s2 = {"coding", 'photography', "travelling"}

print(s1 & s2)

{'coding'}

# Union >> |

In [28]:
print(s1 | s2)

{'coding', 'reading', 'travelling', 'photography', 'hiking'}

# Difference >> -

In [29]:
print(s1 - s2)

{'reading', 'hiking'}

# Symmetric difference >> ^

In [30]:
print(s1 ^ s2)

{'photography', 'travelling', 'reading', 'hiking'}

# Frozen set >> immutable versions of set, cannot be changed, added or removed

In [31]:
my_frozenset = frozenset([1, 2, 3, 4, 4, 5, 5])
type(my_frozenset)

frozenset

In [32]:
my_frozenset.add(5, 6, 7)

AttributeError: 'frozenset' object has no attribute 'add'

In [33]:
my_frozenset.pop()

AttributeError: 'frozenset' object has no attribute 'pop'

In [34]:
for i in my_frozenset:
    print(i)

1
2
3
4
5