# Dictionary is a data structure that stores data as key value pair
# Unordered, keys are unique and immutable

In [1]:
d = {}
print(type(d))

<class 'dict'>

In [11]:
d = {"name": "Ayush", "email": "ayush@gmail.com", "contact": 12345}
print(d)

{'name': 'Ayush', 'email': 'ayush@gmail.com', 'contact': 12345}

In [9]:
print(d["name"])
print(d["email"])

Ayush
ayush@gmail.com

In [10]:
d["name"] = "Aman"
print(d)

{'name': 'Aman', 'email': 'ayush@gmail.com', 'contact': '12345'}

In [12]:
d = {"name": "Ayush", "email": "ayush@gmail.com", "contact": 12345, "name": "Ajay"}
print(d)

{'name': 'Ajay', 'email': 'ayush@gmail.com', 'contact': 12345}

In [13]:
d = {1: "abc"}
print(d)

{1: 'abc'}

In [15]:
d = {101: "abc"}
print(d)

{101: 'abc'}

In [18]:
d = {1.2: "abc"}
print(d)

{1.2: 'abc'}

In [20]:
d = {True: "abc"}
print(d)

{True: 'abc'}

In [22]:
d = {#: "abc"}

SyntaxError: incomplete input (1088619406.py, line 1)

In [24]:
d = {@: "abc"}

SyntaxError: invalid syntax (1047215186.py, line 1)

In [26]:
d = {[1, 2, 3]: "abc"}

TypeError: unhashable type: 'list'

In [28]:
d = {(1, 2, 3): "abc"}
print(d)

{(1, 2, 3): 'abc'}

In [29]:
d = {{1, 2, 3}: "abc"}

TypeError: unhashable type: 'set'

In [30]:
d = {{"key": 123}: "abc"}

TypeError: unhashable type: 'dict'

In [31]:
d = {"name": "Ayush", "email": "ayush@gmail.com", "contact": 12345, "name": "Ajay"}
print(d)

{'name': 'Ajay', 'email': 'ayush@gmail.com', 'contact': 12345}

In [32]:
d = {"name": ["Ajay", "Bijay", "Sanjay"], "course": ("ds", "ml")}
d.clear()
print(d)

{}

In [33]:
d = {"name": ["Ajay", "Bijay", "Sanjay"], "course": ("ds", "ml")}
print(len(d))

2

In [34]:
print(d.keys())

dict_keys(['name', 'course'])

In [35]:
print(d.values())

dict_values([['Ajay', 'Bijay', 'Sanjay'], ('ds', 'ml')])

In [36]:
print(d.items())

dict_items([('name', ['Ajay', 'Bijay', 'Sanjay']), ('course', ('ds', 'ml'))])

In [37]:
d1 = d.copy()
print(d1)

{'name': ['Ajay', 'Bijay', 'Sanjay'], 'course': ('ds', 'ml')}

In [38]:
del d1
print(d1)

NameError: name 'd1' is not defined

In [39]:
print(d.pop())

TypeError: pop expected at least 1 argument, got 0

In [40]:
print(d.pop("course"))

('ds', 'ml')

In [41]:
print(d)

{'name': ['Ajay', 'Bijay', 'Sanjay']}

In [42]:
d1 = {"course": "DS", "start": "20th mar"}
print(d1)

{'course': 'DS', 'start': '20th mar'}

In [43]:
d.update(d1)
print(d)

{'name': ['Ajay', 'Bijay', 'Sanjay'], 'course': 'DS', 'start': '20th mar'}

In [44]:
print(d.get("start"))

20th mar

In [46]:
d.fromkeys((1, 2, 3), ("a", "b", "c"))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

# Dictionary comprehension

In [48]:
students = ["Arun", "Ajay", "Bob"]
marks = [80, 95, 90]

student_marks = {}

for student, mark in zip(students, marks):
    student_marks[student] = mark
    
print(student_marks)

{'Arun': 80, 'Ajay': 95, 'Bob': 90}

In [49]:
for i in zip(students, marks):
    print(i)

('Arun', 80)
('Ajay', 95)
('Bob', 90)

In [50]:
{student: marks for student, marks in zip(students, marks)}

{'Arun': 80, 'Ajay': 95, 'Bob': 90}

In [51]:
user_id = [1, 2, 3]
user_name = ["a21", "a22", "a33"]
{u_id:u_name for u_id, u_name in zip (user_id, user_name)}

{1: 'a21', 2: 'a22', 3: 'a33'}

In [53]:
employee_records = {
    'E001': {'name': 'John Doe', 'department': 'Engineering', 'salary': 75000},
    'E002': {'name': 'Jane Smith', 'department': 'Marketing', 'salary': 65000},
    'E003': {'name': 'David Lee', 'department': 'Finance', 'salary': 80000},
}

employee_records['E001']

{'name': 'John Doe', 'department': 'Engineering', 'salary': 75000}

# Dictionary view objects

In [54]:
employee_records.keys()

dict_keys(['E001', 'E002', 'E003'])

In [55]:
employee_records.values()

dict_values([{'name': 'John Doe', 'department': 'Engineering', 'salary': 75000}, {'name': 'Jane Smith', 'department': 'Marketing', 'salary': 65000}, {'name': 'David Lee', 'department': 'Finance', 'salary': 80000}])

In [56]:
employee_records.items()

dict_items([('E001', {'name': 'John Doe', 'department': 'Engineering', 'salary': 75000}), ('E002', {'name': 'Jane Smith', 'department': 'Marketing', 'salary': 65000}), ('E003', {'name': 'David Lee', 'department': 'Finance', 'salary': 80000})])