# Functions 
# inbuilt >> print, len, type
# userdefined

In [1]:
print("Hello world")

Hello world

# functions >> block of code that performs some specific computations, it keeps your code neat and clean, organize, reusable

In [3]:
int (2.23)

2

In [4]:
import math as m
m.ceil(6.5)

7

In [5]:
m.floor(3.5)

3

# syntax of function

# def func ():
#   do something
#   do something
#   return

In [6]:
print("Welcome to class Ayush")
print("Welcome to class Ankit")
print("Welcome to class Aman")

Welcome to class Ayush
Welcome to class Ankit
Welcome to class Aman

In [8]:
def greet(n):
    print("Welcome to class", n)
    
greet("Ayush")
greet("Ankit")
greet("Aman")

Welcome to class Ayush
Welcome to class Ankit
Welcome to class Aman

In [9]:
def func():
    print("This is my first function")
    
func()

This is my first function

In [10]:
func() + "in python"

This is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [12]:
print ("this is my first class" + " in python")

this is my first class in python

In [13]:
type(func())

This is my first function

NoneType

In [15]:
def func():
    return "This is my first class"

func() + " in python"

'This is my first class in python'

In [16]:
type(func())

str

In [17]:
def func():
    return "This is my first class", 3, 4, 5+6j, True

func()

('This is my first class', 3, 4, (5+6j), True)

In [18]:
type(func())

tuple

In [20]:
a = func()
print(a)
print(type(a))

('This is my first class', 3, 4, (5+6j), True)
<class 'tuple'>

In [21]:
print(a[0])

This is my first class

In [23]:
a, b, c, d, e = func()

print(a)
print(b)
print(c)
print(d)
print(e)

This is my first class
3
4
(5+6j)
True

In [24]:
a, b, c, d = func()

ValueError: too many values to unpack (expected 4)

In [25]:
print(func()[2])

4

In [26]:
def func():
    calc = 2 + 3 + 5 * 6
    return calc

func()

35

In [27]:
type(func())

int

In [28]:
def square_no(a): # a is called as argument
    return a * a

square_no(3)

9

In [29]:
def sum_(a, b):
    return a + b

sum_(3, 4)

7

In [31]:
sum_("pw", "skills")

'pwskills'

In [32]:
sum_([1, 2, 3], [4, 5, 6])

[1, 2, 3, 4, 5, 6]

In [34]:
sum_(b = [1, 2, 3], a = [4, 5, 6])

[4, 5, 6, 1, 2, 3]

In [40]:
def sum_(a, b, c):
    return a + b + c

sum_(2, 3, 4)

9

In [41]:
sum_(2, 3)

TypeError: sum_() missing 1 required positional argument: 'c'

# default arguments

In [42]:
def sum__(a = 0, b = 0, c = 0):
    return a + b + c

sum__(2, 3)

5

In [43]:
def add_two_nos():
    a = int(input("Enter the first number: "))
    b = int(input("Enter the second number: "))
    return a + b

add_two_nos()

9

# Write a function that take list as input and return me all numeric values

In [1]:
def only_numeric(a):
    n = []
    for i in a:
        if type(i) == int or type(i) == float:
            n.append(i)
    return n

only_numeric([1, 2, 3, 4, 5])

[1, 2, 3, 4, 5]

In [4]:
only_numeric([1, 2, 3, 4.5, "Ayush", True, [1, 2, 3, 4, 5]])

[1, 2, 3, 4.5]

In [5]:
def only_numeric(a):
    n = []
    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    n.append(j)
        else:
            if type(i) == int or type(i) == float:
                n.append(i)
    return n

only_numeric([1, 2, 3, 4.5, "Ayush", True, [1, 2, 3, 4, 5]])

[1, 2, 3, 4.5, 1, 2, 3, 4, 5]

In [6]:
def sum_(a, b):
    return a + b

sum_(2, 3, 4)

TypeError: sum_() takes 2 positional arguments but 3 were given

# variable length argument

In [7]:
def sum_(*args):
    s = 0
    for i in args:
        s = s + i
    return s

sum_(2, 3, 4, 5)

14

In [8]:
def test1(*args):
    return args

test1(1, 2.3, "Ajay", [1, 2, 3], (1, 2, 3), True)

(1, 2.3, 'Ajay', [1, 2, 3], (1, 2, 3), True)

In [9]:
def test1(*args, a):
    return args, a

test1(1, 2.3, "Ajay", [1, 2, 3], (1, 2, 3), True)

TypeError: test1() missing 1 required keyword-only argument: 'a'

In [10]:
test1(1, 2.3, "Ajay", [1, 2, 3], (1, 2, 3), True, a = "Aman")

((1, 2.3, 'Ajay', [1, 2, 3], (1, 2, 3), True), 'Aman')

In [12]:
def return_list(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

return_list(1, 2.5, "Ayush", [1, 2, 3, 4], True, [4, 5, 6, 7])

[[1, 2, 3, 4], [4, 5, 6, 7]]

In [13]:
def team(name, project):
    return f"{name} is working on {project}."

team(name="Ayush", project="Image recognition")

'Ayush is working on Image recognition.'

# It should accept any no of arguments
# treated as key value pair
# kwargs = key words arguments

In [16]:
def kwarg_func(**kwargs):
    return kwargs

kwarg_func(a = 2, b = 3, c = [1, 2, 3], d = (4, 5, 6), e = True)

{'a': 2, 'b': 3, 'c': [1, 2, 3], 'd': (4, 5, 6), 'e': True}

In [15]:
type(kwarg_func())

dict

# Write a function which takes variable key word arguments and return only the values which is a list

In [17]:
def test(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i]) == list:
            return i, kwargs[i]
        
test(a = 2, b = 3.5, c = [1, 2, 3], d = True, e = (4, 5, 6), f = [7, 8, 9])

('c', [1, 2, 3])

In [18]:
def test1(*ayush, **aman):
    return ayush, aman

test1(1, 2, 3, a = 100, b = 200)

((1, 2, 3), {'a': 100, 'b': 200})

In [19]:
type(test1)

function

# Python namespace

In [20]:
def greet():
    message = "Hello, welcome" # message is a local variable
    print(message)
    
greet()

Hello, welcome

In [21]:
print(message)

NameError: name 'message' is not defined

In [22]:
subpart = " to the course" # global variable >> can be accessed in and outside the function
def greet():
    message = "Hello, welcome" + subpart
    print(message)
    
greet()

Hello, welcome to the course

In [23]:
print(subpart)

 to the course

In [24]:
print(message)

NameError: name 'message' is not defined

# function inside function

In [25]:
def marks_in_subjects(**kwargs):
    def total_marks(marks_list):
        return sum(marks_list)
    marks_list = []
    for subject, marks in kwargs.items():
        marks_list.append(marks)
    return total_marks(marks_list)

marks_in_subjects(a = 37, b = 46, c = 23)

106

# calling from outside

In [26]:
def total_marks(marks_list):
    return sum(marks_list)
def marks_in_subjects(**kwargs):
    marks_list = []
    for subject, marks in kwargs.items():
        marks_list.append(marks)
    return total_marks(marks_list)

marks_in_subjects(a = 37, b = 46, c = 23)

106

In [28]:
def find_power(num, power):
    """This function returns the power of no

    Args:
        num (int): insert any integer value
        power (int): insert any integer value

    Returns:
        integer: power of numbers
    """
    return num ** power

find_power(2, 3)

8

In [29]:
help(find_power)

Help on function find_power in module __main__:

find_power(num, power)
    This function returns the power of no

    Args:
        num (int): insert any integer value
        power (int): insert any integer value

    Returns:
        integer: power of numbers

In [31]:
print(find_power.__doc__)

This function returns the power of no

    Args:
        num (int): insert any integer value
        power (int): insert any integer value

    Returns:
        integer: power of numbers