# lambda >> anonymous function
# syntax: lambda arguments: expression

In [1]:
def square(x):
    return x ** 2

square(2)

4

In [2]:
sq_lambda = lambda x: x ** 2
sq_lambda(5)

25

In [3]:
add = lambda a, b: a + b
add(3, 4)

7

In [4]:
is_even = lambda x: x % 2 == 0
is_even(4)

True

In [6]:
x = ["Python", "Data Science", "Ajay"]
sorted_words = sorted(x , key = lambda x: len(x))
print(sorted_words)

['Ajay', 'Python', 'Data Science']

In [1]:
fib = lambda n: n if n <= 1 else fib(n-1) + fib(n-2)
[fib(i) for i in range(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

# factorial of 5 = 5 * 4 * 3 * 2 * 1

In [2]:
def fact_num(n):
    if n == 0:
        return 1
    else:
        return n * fact_num(n-1)

fact_num(5)

120

In [3]:
lambda n: 1 if n == 0 else n * fact_num(n-1)

In [4]:
fact_num(5)

120

# map >> executes a specified function for each of item of an iterable

In [1]:
l = [1, 2, 3, 4, 5]

def square(l):
    sq = []
    for i in l:
        sq.append(i ** 2)
    return sq

square(l)

[1, 4, 9, 16, 25]

In [2]:
def squ(x):
    return x ** 2

map(squ, l)

In [3]:
list(map(squ, l))

[1, 4, 9, 16, 25]

In [5]:
def add(x):
    return x + 10

list(map(add, l))

[11, 12, 13, 14, 15]

# using lambda

In [7]:
list(map(lambda x: x ** 2, l))

[1, 4, 9, 16, 25]

In [8]:
list(map(lambda x: x + 10, l))

[11, 12, 13, 14, 15]

In [9]:
a = lambda x: x ** 2
list(map(a, l))

[1, 4, 9, 16, 25]

In [10]:
l = ["1", "2", "3", "4", "5"]
list(map(lambda x: int(x), l))

[1, 2, 3, 4, 5]

In [11]:
l1 = [100, 200, 300, 400]
l2 = [1, 2, 3, 4]

list(map(lambda x, y: x + y, l1, l2))

[101, 202, 303, 404]

In [14]:
a = "PW Skills"
list(map(lambda x: x.upper(), a))

['P', 'W', ' ', 'S', 'K', 'I', 'L', 'L', 'S']

In [15]:
words = ["ayush", "python"]
list(map(str.capitalize, words))

['Ayush', 'Python']

In [17]:
grades = ["A", "B", "C", "D"]
list(map(lambda grade: 4 if grade == "A" else (3 if grade == "B" else 2), grades))

[4, 3, 2, 2]

# reduce >> folding or reduction

In [19]:
from functools import reduce

l = [1, 2, 3, 4, 5, 6]
reduce(lambda x, y: x + y, l)

21

In [21]:
def add (x, y):
    return x + y

reduce(add, l)

21

In [22]:
l = [1, 2, 3, 4, 5, 6]
reduce(lambda x, y, z: x + y + z, l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [23]:
reduce(lambda x, y: x + y, [])

TypeError: reduce() of empty iterable with no initial value

In [24]:
reduce(lambda x, y: x + y, [1])

1

In [25]:
reduce(lambda x, y: x * y, [1])

1

In [26]:
reduce(lambda x, y: x * y, l)

720

In [28]:
words = ["Data", "Science", "Courses"]
reduce(lambda x, y: x + " " + y, words)

'Data Science Courses'

In [29]:
numbers = [1, 2, 5, 100, 6, 9, 5000]
reduce(lambda x, y: x if x > y else y, numbers)

5000

In [32]:
def factorial(n):
    return reduce(lambda x, y: x * y, range(1, n+1))

factorial(5)

120

# filter function >> is used to filter elements from an iterable based on some certain conditions
# syntax >> filter(function, iterable)

In [33]:
l

[1, 2, 3, 4, 5, 6]

In [34]:
filter(lambda x: x % 2 ==0, l)

In [35]:
list(filter(lambda x: x % 2 ==0, l))

[2, 4, 6]

In [36]:
list(filter(lambda x: x % 2 !=0, l))

[1, 3, 5]

In [37]:
l1 = [-2, -1, 4, 5, 6]
list(filter(lambda x: x < 0, l1))

[-2, -1]

In [38]:
list(filter(lambda x: x >= 0, l1))

[4, 5, 6]

In [40]:
s = ["Ayush", 'CMU', "Data", "PW skills"]
list(filter(lambda x: len(x) > 3, s))

['Ayush', 'Data', 'PW skills']

In [42]:
def check_even(num):
    if num % 2 == 0:
        return True
    return False

num = [1, 2, 3, 4, 5, 8, 10]
list(filter(check_even, num))

[2, 4, 8, 10]