In [3]:
# pip install mysql-connector-python

import mysql.connector as conn

mydb = conn.connect(host='localhost', user="ayush", passwd='ayush123')
print(mydb)

cursor = mydb.cursor()
cursor.execute("show databases")
cursor.fetchall()

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f442b959d60>

[('information_schema',),
 ('mysql',),
 ('mysql_db',),
 ('performance_schema',),
 ('sys',)]

In [ ]:
cursor.execute("create database pysqldb")

In [6]:
cursor.execute("create table pysqldb.skill(studentid INT(10), firstname VARCHAR(30), lastname VARCHAR(30), regid INT(30), classname VARCHAR(30))")

In [7]:
cursor.execute('use pysqldb')

In [8]:
cursor.execute('show tables')

In [9]:
cursor.fetchall()

[('skill',)]

In [10]:
cursor.execute('insert into pysqldb.skill values(45, "Ayush", "mg", 22, "fsds")')

In [12]:
mydb.commit()

In [13]:
cursor.execute('select * from pysqldb.skill')
cursor.fetchall()

[(45, 'Ayush', 'mg', 22, 'fsds')]