In [2]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://ayushkumar9315983:jPbMlxcu6jmxSoId@cluster.6cxuv.mongodb.net/?retryWrites=true&w=majority&appName=Cluster")

In [3]:
db = client["pwskills"]

In [4]:
coll_create = db["my_record"]

In [6]:
data = {
    "name": "Ayush",
    "class": "Data Science",
    "timing": "flexible"
}

In [7]:
coll_create.insert_one(data)

InsertOneResult(ObjectId('66e7fe303f40d0a83a864a1d'), acknowledged=True)

In [8]:
data2 = {
    "list_course": ["data science", "web dev", "Java with DSA"],
    "mentors": ["Vishwa", "Ravi", "Arun"]
}

coll_create.insert_one(data2)

InsertOneResult(ObjectId('66e7ff213f40d0a83a864a1e'), acknowledged=True)

In [9]:
data3 = [
    {"name": "ayush", "address": "Patna"},
    {"name": "aman", "address": "ara"},
    {"name": "ankit", "address": "siwan"}
]

coll_create.insert_many(data3)

InsertManyResult([ObjectId('66e7ffd73f40d0a83a864a1f'), ObjectId('66e7ffd73f40d0a83a864a20'), ObjectId('66e7ffd73f40d0a83a864a21')], acknowledged=True)

In [ ]:
for i in coll_create.find():
    print(i)

In [ ]:
for i in coll_create.find({"company name": "pw"}):
    print(i)

In [ ]:
coll_create.update_many({'company name': 'pw'}, {"$set": {'company name': 'Unacademy'}})

In [ ]:
coll_create.drop()