In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('example_csv.csv')
df.head()

    Name Course   Fee
0  Ayush     DS  1000
1  Bijay     ML  2000

In [ ]:
d3 = pd.read_excel('default.xlxs')
d3.head(10)
d3.tail(5)

In [3]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///example.db')

In [ ]:
query = 'select * from employees'
df = pd.read_sql(query, engine)
df

In [ ]:
df5 = pd.read_json('sample.json')
df5

In [ ]:
df5.to_csv('sample.csv')