In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'PW': [11, 12, 13], 'PWIOI': [14, 15, 16]})
df

   PW  PWIOI
0  11     14
1  12     15
2  13     16

In [3]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [4]:
df.index = ['a', 'b', 'c']
df

   PW  PWIOI
a  11     14
b  12     15
c  13     16

In [6]:
df.set_index('PW', inplace=True)

    PWIOI
PW
11     14
12     15
13     16

In [7]:
df.reindex(['x', 'y', 'z'])

   PW  PWIOI
x NaN    NaN
y NaN    NaN
z NaN    NaN

In [8]:
df.reindex(['a', 'b', 'c', 'd'])

     PW  PWIOI
a  11.0   14.0
b  12.0   15.0
c  13.0   16.0
d   NaN    NaN

In [9]:
df.reindex(['a', 'b', 'c', 'd'], method='ffill')

   PW  PWIOI
a  11     14
b  12     15
c  13     16
d  13     16

In [10]:
df.reset_index()

  index  PW  PWIOI
0     a  11     14
1     b  12     15
2     c  13     16

In [11]:
df.reset_index(drop=True, inplace=True)

In [12]:
df

   PW  PWIOI
0  11     14
1  12     15
2  13     16