In [1]:
import pandas as pd

In [2]:
# Example dataframe

data = {
    'Course': ['Data science', 'Data analysis', 'Web Development', 'Cloud Computing'],
    'Duration': [2, 3, 1, 4],
    'City': ['Banglore', 'Pune', 'Mumbai', 'Noida']
}

df = pd.DataFrame(data)

In [3]:
df

            Course  Duration      City
0     Data science         2  Banglore
1    Data analysis         3      Pune
2  Web Development         1    Mumbai
3  Cloud Computing         4     Noida

In [4]:
for i in df: 
    print(i)

Course
Duration
City

In [5]:
df['Course']

0       Data science
1      Data analysis
2    Web Development
3    Cloud Computing
Name: Course, dtype: object

In [6]:
for i in df:
    print(df[i])

0       Data science
1      Data analysis
2    Web Development
3    Cloud Computing
Name: Course, dtype: object
0    2
1    3
2    1
3    4
Name: Duration, dtype: int64
0    Banglore
1        Pune
2      Mumbai
3       Noida
Name: City, dtype: object

In [7]:
for i in df.iterrows():
    print(i)

(0, Course      Data science
Duration               2
City            Banglore
Name: 0, dtype: object)
(1, Course      Data analysis
Duration                3
City                 Pune
Name: 1, dtype: object)
(2, Course      Web Development
Duration                  1
City                 Mumbai
Name: 2, dtype: object)
(3, Course      Cloud Computing
Duration                  4
City                  Noida
Name: 3, dtype: object)

In [9]:
for i, j in df.iterrows():
    print(f'Index {i} \nRow value {j} \n\n')

Index 0
Row value Course      Data science
Duration               2
City            Banglore
Name: 0, dtype: object


Index 1
Row value Course      Data analysis
Duration                3
City                 Pune
Name: 1, dtype: object


Index 2
Row value Course      Web Development
Duration                  1
City                 Mumbai
Name: 2, dtype: object


Index 3
Row value Course      Cloud Computing
Duration                  4
City                  Noida
Name: 3, dtype: object

In [10]:
for i, j in df.iterrows():
    print(f'Index {i} \nCourse {j['Course']} \n\n')

Index 0
Course Data science


Index 1
Course Data analysis


Index 2
Course Web Development


Index 3
Course Cloud Computing

In [11]:
for i, j in df.iterrows():
    print(f'Index {i} \nCourse {j['Course']} \nDuration {j['Duration']}\nCity {j['City']}\n\n')

Index 0
Course Data science
Duration 2
City Banglore


Index 1
Course Data analysis
Duration 3
City Pune


Index 2
Course Web Development
Duration 1
City Mumbai


Index 3
Course Cloud Computing
Duration 4
City Noida

In [12]:
df.itertuples()

In [13]:
for i in df.itertuples():
    print(i)

Pandas(Index=0, Course='Data science', Duration=2, City='Banglore')
Pandas(Index=1, Course='Data analysis', Duration=3, City='Pune')
Pandas(Index=2, Course='Web Development', Duration=1, City='Mumbai')
Pandas(Index=3, Course='Cloud Computing', Duration=4, City='Noida')

In [15]:
for i in df.itertuples():
    print(f'Index: {i.Index} \nCourse: {i.Course} \nDuration: {i.Duration} \nCity: {i.City}\n\n')

Index: 0
Course: Data science
Duration: 2
City: Banglore


Index: 1
Course: Data analysis
Duration: 3
City: Pune


Index: 2
Course: Web Development
Duration: 1
City: Mumbai


Index: 3
Course: Cloud Computing
Duration: 4
City: Noida

In [16]:
series = pd.Series([2, 4, 5, 6])
series

0    2
1    4
2    5
3    6
dtype: int64

In [17]:
for i in series:
    print(i)

2
4
5
6

In [18]:
df['Course']

0       Data science
1      Data analysis
2    Web Development
3    Cloud Computing
Name: Course, dtype: object

In [19]:
for i in df['Course']:
    print(i)

Data science
Data analysis
Web Development
Cloud Computing

In [20]:
df[df['Duration'] > 2]

            Course  Duration   City
1    Data analysis         3   Pune
3  Cloud Computing         4  Noida

In [21]:
for i, j in df[df['Duration'] > 2].iterrows():
    print(f'Index {i} \nCourse {j['Course']} \nDuration {j['Duration']}\nCity {j['City']}\n\n')

Index 1
Course Data analysis
Duration 3
City Pune


Index 3
Course Cloud Computing
Duration 4
City Noida