In [1]:
import pandas as pd

In [2]:
# Creating a DataFrame with text data

data = {'Text': ['Hello, how are you?', 'Pandas is great!', 'Text data handling in Pandas is useful']}
df = pd.DataFrame(data)
print(df)

                                     Text
0                     Hello, how are you?
1                        Pandas is great!
2  Text data handling in Pandas is useful

In [3]:
df['lower'] = df['Text'].str.lower()

In [4]:
df

,Text,lower
0,"Hello, how are you?","hello, how are you?"
1,Pandas is great!,pandas is great!
2,Text data handling in Pandas is useful,text data handling in pandas is useful

In [5]:
df['Upper'] = df['Text'].str.upper()
df

,Text,lower,Upper
0,"Hello, how are you?","hello, how are you?","HELLO, HOW ARE YOU?"
1,Pandas is great!,pandas is great!,PANDAS IS GREAT!
2,Text data handling in Pandas is useful,text data handling in pandas is useful,TEXT DATA HANDLING IN PANDAS IS USEFUL

In [7]:
df['Length'] = df['Text'].str.len()
df

,Text,lower,Upper,Length
0,"Hello, how are you?","hello, how are you?","HELLO, HOW ARE YOU?",19
1,Pandas is great!,pandas is great!,PANDAS IS GREAT!,16
2,Text data handling in Pandas is useful,text data handling in pandas is useful,TEXT DATA HANDLING IN PANDAS IS USEFUL,38

In [8]:
df['Words'] = df["Text"].str.split()
df

,Text,lower,Upper,Length,Words
0,"Hello, how are you?","hello, how are you?","HELLO, HOW ARE YOU?",19,"[Hello,, how, are, you?]"
1,Pandas is great!,pandas is great!,PANDAS IS GREAT!,16,"[Pandas, is, great!]"
2,Text data handling in Pandas is useful,text data handling in pandas is useful,TEXT DATA HANDLING IN PANDAS IS USEFUL,38,"[Text, data, handling, in, Pandas, is, useful]"

In [9]:
data1 = {'Text': ['Hello, how are you?', 'Pandas is great!', 'Text data handling in Pandas is useful']}
df2 = pd.DataFrame(data1)
df2

                                     Text
0                     Hello, how are you?
1                        Pandas is great!
2  Text data handling in Pandas is useful

In [10]:
df2['Length'] = df2['Text'].str.len()
df2

                                     Text  Length
0                     Hello, how are you?      19
1                        Pandas is great!      16
2  Text data handling in Pandas is useful      38

In [11]:
df['Text'][1].startswith('P')

True

In [12]:
df['Text'][0].startswith('P')

False

In [16]:
df2['P_Words'] = df2['Text'].str.split().apply(lambda x: [word for word in x if word.startswith('P')])
df2

                                     Text  Length   P_Words
0                     Hello, how are you?      19        []
1                        Pandas is great!      16  [Pandas]
2  Text data handling in Pandas is useful      38  [Pandas]

In [17]:
new_df = pd.DataFrame({'Text': [None], 'Upper': [None], 'Length': [None]})
new_df

   Text Upper Length
0  None  None   None

In [18]:
df2 = pd.concat([df2, new_df])
df2.reset_index(inplace=True, drop=True)

In [19]:
df2

                                     Text Length   P_Words Upper
0                     Hello, how are you?     19        []   NaN
1                        Pandas is great!     16  [Pandas]   NaN
2  Text data handling in Pandas is useful     38  [Pandas]   NaN
3                                    None   None       NaN  None

In [20]:
df2.columns

Index(['Text', 'Length', 'P_Words', 'Upper'], dtype='object')

In [21]:
df2['Text'].fillna('No text available')

0                       Hello, how are you?
1                          Pandas is great!
2    Text data handling in Pandas is useful
3                         No text available
Name: Text, dtype: object

In [23]:
df2['Text'].fillna('No text available', inplace=True)
df2

                                     Text Length   P_Words Upper
0                     Hello, how are you?     19        []   NaN
1                        Pandas is great!     16  [Pandas]   NaN
2  Text data handling in Pandas is useful     38  [Pandas]   NaN
3                       No text available   None       NaN  None