In [3]:
import pandas as pd
import seaborn as sns

In [5]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [32]:
des = df.describe()
des

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.799333     3.057333      3.758000     1.199333
std        0.725702     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.225000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.275000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [35]:
des.mean()

sepal_length    23.253129
sepal_width     21.124150
petal_length    21.809162
petal_width     19.745196
dtype: float64

In [36]:
des.median()

sepal_length    5.799667
sepal_width     3.028667
petal_length    4.054000
petal_width     1.249667
dtype: float64

In [15]:
df['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [17]:
df.groupby(by='species').mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [18]:
df.groupby(by='species').agg(func={'sepal_length':['mean', 'median'], 'sepal_width': 'sum', 'petal_length':['count', 'max']})

           sepal_length        sepal_width petal_length
                   mean median         sum        count  max
species
setosa            5.006    5.0       171.4           50  1.9
versicolor        5.936    5.9       138.5           50  5.1
virginica         6.588    6.5       148.7           50  6.9

In [19]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [21]:
df.loc[::5, 'sepal_length'] = None

In [22]:
df.isnull().sum()

sepal_length    30
sepal_width      0
petal_length     0
petal_width      0
species          0
dtype: int64

In [23]:
df['sepal_length'].describe()

count    120.000000
mean       5.799167
std        0.812041
min        4.300000
25%        5.100000
50%        5.800000
75%        6.325000
max        7.900000
Name: sepal_length, dtype: float64

In [24]:
df['sepal_length'].fillna(df['sepal_length'].median(), inplace=True)

/tmp/ipykernel_39877/3454917350.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['sepal_length'].fillna(df['sepal_length'].median(), inplace=True)

In [41]:
sep = df['sepal_length'].describe()
sep

count    150.000000
mean       5.799333
std        0.725702
min        4.300000
25%        5.225000
50%        5.800000
75%        6.275000
max        7.900000
Name: sepal_length, dtype: float64

In [ ]:
# cov, corr

In [45]:
mean_value = des.mean()
std_value = des.std()

In [ ]:
# threshold = 3
# outliers = df[(df - mean_value).abs() > threshold * std_value].dropna(thresh=1)
# outliers

# IQR

In [ ]:
# q1 = df.quantile(0.25)
# q3 = df.quantile(0.75)

# iqr = q3 - q1

# l1 = q1 - 1.5 * iqr
# ul = q3 + 1.5 * iqr

# outliers = df[(df < l1) | (df > ul)]
# outliers.dropna(thresh=1)

In [54]:
df = des.clip(lower=11, upper=ul, axis=0)

In [55]:
df

       sepal_length  sepal_width  petal_length  petal_width
count           NaN          NaN           NaN          NaN
mean            NaN          NaN           NaN          NaN
std             NaN          NaN           NaN          NaN
min             NaN          NaN           NaN          NaN
25%             NaN          NaN           NaN          NaN
50%             NaN          NaN           NaN          NaN
75%             NaN          NaN           NaN          NaN
max             NaN          NaN           NaN          NaN