In [1]:
import pandas as pd

In [2]:
date_range = pd.date_range(start='2023-01-01', end='2024-01-01', freq='D')
date_range

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2023-12-23', '2023-12-24', '2023-12-25', '2023-12-26',
               '2023-12-27', '2023-12-28', '2023-12-29', '2023-12-30',
               '2023-12-31', '2024-01-01'],
              dtype='datetime64[ns]', length=366, freq='D')

In [3]:
date_range = pd.date_range(start='2024-01-01', end='2024-01-02', freq='H')
date_range

/tmp/ipykernel_88027/142542850.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  date_range = pd.date_range(start='2024-01-01', end='2024-01-02', freq='H')

DatetimeIndex(['2024-01-01 00:00:00', '2024-01-01 01:00:00',
               '2024-01-01 02:00:00', '2024-01-01 03:00:00',
               '2024-01-01 04:00:00', '2024-01-01 05:00:00',
               '2024-01-01 06:00:00', '2024-01-01 07:00:00',
               '2024-01-01 08:00:00', '2024-01-01 09:00:00',
               '2024-01-01 10:00:00', '2024-01-01 11:00:00',
               '2024-01-01 12:00:00', '2024-01-01 13:00:00',
               '2024-01-01 14:00:00', '2024-01-01 15:00:00',
               '2024-01-01 16:00:00', '2024-01-01 17:00:00',
               '2024-01-01 18:00:00', '2024-01-01 19:00:00',
               '2024-01-01 20:00:00', '2024-01-01 21:00:00',
               '2024-01-01 22:00:00', '2024-01-01 23:00:00',
               '2024-01-02 00:00:00'],
              dtype='datetime64[ns]', freq='h')

In [4]:
start_time = pd.Timestamp.now() - pd.DateOffset(weeks=1)
end_time = pd.Timestamp.now()

In [5]:
data_range = pd.date_range(start=start_time, end=end_time, freq="D")
data_range

DatetimeIndex(['2024-10-31 09:34:17.343722', '2024-11-01 09:34:17.343722',
               '2024-11-02 09:34:17.343722', '2024-11-03 09:34:17.343722',
               '2024-11-04 09:34:17.343722', '2024-11-05 09:34:17.343722',
               '2024-11-06 09:34:17.343722', '2024-11-07 09:34:17.343722'],
              dtype='datetime64[ns]', freq='D')

In [6]:
from datetime import datetime

In [7]:
user_input = '2023-11-16'
date = datetime.strptime(user_input, '%Y-%m-%d')
date

datetime.datetime(2023, 11, 16, 0, 0)

In [8]:
print(date)

2023-11-16 00:00:00

In [9]:
current_dt = datetime.now()
print(current_dt)

2024-11-07 09:34:18.896090

In [10]:
formatted = current_dt.strftime('%A, %B %d, %Y')
formatted

'Thursday, November 07, 2024'

In [11]:
type(formatted)

str

In [12]:
formatted_2 = current_dt.strftime('%Y-%m-%d %H:%M')
formatted_2

'2024-11-07 09:34'

In [13]:
data = {'date': ['2023-01-01', '2023-02-01', '2023-03-01']}
df = pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      object
dtypes: object(1)
memory usage: 156.0+ bytes

In [14]:
df['Date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      object
 1   Date    3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 180.0+ bytes

In [15]:
df

         date       Date
0  2023-01-01 2023-01-01
1  2023-02-01 2023-02-01
2  2023-03-01 2023-03-01

In [16]:
df['Year'] = df['Date'].dt.year
df

         date       Date  Year
0  2023-01-01 2023-01-01  2023
1  2023-02-01 2023-02-01  2023
2  2023-03-01 2023-03-01  2023

In [17]:
df['Month'] = df['Date'].dt.month
df

         date       Date  Year  Month
0  2023-01-01 2023-01-01  2023      1
1  2023-02-01 2023-02-01  2023      2
2  2023-03-01 2023-03-01  2023      3

In [18]:
df['Day'] = df['Date'].dt.day
df

         date       Date  Year  Month  Day
0  2023-01-01 2023-01-01  2023      1    1
1  2023-02-01 2023-02-01  2023      2    1
2  2023-03-01 2023-03-01  2023      3    1

In [19]:
birthdates = ['1990-05-12', '1985-10-20', '2000-03-25']

current_date = pd.to_datetime('2024-01-26')

In [20]:
ages = current_date.year - pd.to_datetime(birthdates).year
ages

Index([34, 39, 24], dtype='int32')

In [21]:
current_date = pd.to_datetime('2024-01-16')
birthdate = pd.to_datetime('2024-03-25')

days_until = (birthdate - current_date).days
days_until

69

In [22]:
date_rng = pd.date_range(start='2023-01-01', end='2023-12-31', freq='D')
sales_data = pd.DataFrame({'Date': date_rng, 'Sales': range(len(date_rng))})

sales_data

          Date  Sales
0   2023-01-01      0
1   2023-01-02      1
2   2023-01-03      2
3   2023-01-04      3
4   2023-01-05      4
..         ...    ...
360 2023-12-27    360
361 2023-12-28    361
362 2023-12-29    362
363 2023-12-30    363
364 2023-12-31    364

[365 rows x 2 columns]

In [23]:
sales_data.set_index('Date', inplace=True)

In [24]:
sales_data

            Sales
Date
2023-01-01      0
2023-01-02      1
2023-01-03      2
2023-01-04      3
2023-01-05      4
...           ...
2023-12-27    360
2023-12-28    361
2023-12-29    362
2023-12-30    363
2023-12-31    364

[365 rows x 1 columns]

In [25]:
monthly_data = sales_data.resample('M')
monthly_data

/tmp/ipykernel_88027/2239294637.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_data = sales_data.resample('M')

In [26]:
monthly_data = sales_data.resample('M').sum()
monthly_data

/tmp/ipykernel_88027/3172719216.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_data = sales_data.resample('M').sum()

            Sales
Date
2023-01-31    465
2023-02-28   1246
2023-03-31   2294
2023-04-30   3135
2023-05-31   4185
2023-06-30   4965
2023-07-31   6076
2023-08-31   7037
2023-09-30   7725
2023-10-31   8928
2023-11-30   9555
2023-12-31  10819

In [27]:
monthly_data = sales_data.resample('M').mean()
monthly_data

/tmp/ipykernel_88027/2087743610.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_data = sales_data.resample('M').mean()

            Sales
Date
2023-01-31   15.0
2023-02-28   44.5
2023-03-31   74.0
2023-04-30  104.5
2023-05-31  135.0
2023-06-30  165.5
2023-07-31  196.0
2023-08-31  227.0
2023-09-30  257.5
2023-10-31  288.0
2023-11-30  318.5
2023-12-31  349.0

In [28]:
quaterly_data = sales_data.resample('Q').max()
quaterly_data

/tmp/ipykernel_88027/1112955290.py:1: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  quaterly_data = sales_data.resample('Q').max()

            Sales
Date
2023-03-31     89
2023-06-30    180
2023-09-30    272
2023-12-31    364

In [30]:
import numpy as np

In [ ]:
np.random.seed(0)

data_rng = pd.date_range(start='2023-01-01', end='2023-01-10', freq='H')
weather_data = pd.DataFrame({'Date': date_rng, 'Temperature': np.random.randint(0, 30, len(date_rng))})

/tmp/ipykernel_88027/1020108017.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  data_rng = pd.date_range(start='2023-01-01', end='2023-01-10', freq='H')

In [34]:
np.random.seed(10)
np.random.randint(1, 6)

2

In [35]:
weather_data

          Date  Temperature
0   2023-01-01           29
1   2023-01-02            2
2   2023-01-03           15
3   2023-01-04           27
4   2023-01-05           21
..         ...          ...
360 2023-12-27           28
361 2023-12-28            1
362 2023-12-29            9
363 2023-12-30            2
364 2023-12-31           18

[365 rows x 2 columns]

In [36]:
weather_data.set_index('Date', inplace=True)
daily_weather = weather_data.resample('D').median()
daily_weather

            Temperature
Date
2023-01-01         29.0
2023-01-02          2.0
2023-01-03         15.0
2023-01-04         27.0
2023-01-05         21.0
...                 ...
2023-12-27         28.0
2023-12-28          1.0
2023-12-29          9.0
2023-12-30          2.0
2023-12-31         18.0

[365 rows x 1 columns]

In [37]:
np.random.seed(1)

date_rng = pd.date_range(start='2023-01-01', end='2023-01-02', freq='T')
stock_price = pd.DataFrame({'Timestamp': date_rng, 'Price': np.random.randint(50, 150, len(date_rng))})

/tmp/ipykernel_88027/3681716167.py:3: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  date_rng = pd.date_range(start='2023-01-01', end='2023-01-02', freq='T')

In [38]:
stock_price

               Timestamp  Price
0    2023-01-01 00:00:00     87
1    2023-01-01 00:01:00     62
2    2023-01-01 00:02:00    122
3    2023-01-01 00:03:00     59
4    2023-01-01 00:04:00    125
...                  ...    ...
1436 2023-01-01 23:56:00     77
1437 2023-01-01 23:57:00     73
1438 2023-01-01 23:58:00    103
1439 2023-01-01 23:59:00    119
1440 2023-01-02 00:00:00    118

[1441 rows x 2 columns]

In [39]:
stock_price.set_index('Timestamp', inplace=True)

hourly_stock = stock_price.resample('H').ohlc()
hourly_stock

/tmp/ipykernel_88027/1333186841.py:3: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_stock = stock_price.resample('H').ohlc()

                    Price
                     open high  low close
Timestamp
2023-01-01 00:00:00    87  146   50   130
2023-01-01 01:00:00    91  148   50    86
2023-01-01 02:00:00    57  148   52   134
2023-01-01 03:00:00    93  149   50   129
2023-01-01 04:00:00    91  149   55   104
2023-01-01 05:00:00    50  148   50    93
2023-01-01 06:00:00    51  149   51   147
2023-01-01 07:00:00    88  148   50    83
2023-01-01 08:00:00    60  149   52   117
2023-01-01 09:00:00    84  149   53   110
2023-01-01 10:00:00    62  148   55    94
2023-01-01 11:00:00    66  147   50    51
2023-01-01 12:00:00    81  149   50    99
2023-01-01 13:00:00    96  147   50    93
2023-01-01 14:00:00   111  149   51    80
2023-01-01 15:00:00    57  147   51    71
2023-01-01 16:00:00   101  148   50   120
2023-01-01 17:00:00   126  149   55    87
2023-01-01 18:00:00   139  145   54   127
2023-01-01 19:00:00    92  149   54    88
2023-01-01 20:00:00   133  149   50   124
2023-01-01 21:00:00   139  149   52    59
2023-01-01 22:00:00   138  148   50    96
2023-01-01 23:00:00    70  148   50   119
2023-01-02 00:00:00   118  118  118   118

In [40]:
data = pd.date_range(start='2024-01-01 12:00', periods=4, freq='H')
data

/tmp/ipykernel_88027/179160694.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  data = pd.date_range(start='2024-01-01 12:00', periods=4, freq='H')

DatetimeIndex(['2024-01-01 12:00:00', '2024-01-01 13:00:00',
               '2024-01-01 14:00:00', '2024-01-01 15:00:00'],
              dtype='datetime64[ns]', freq='h')

In [41]:
data.tz_localize('America/New_York')

DatetimeIndex(['2024-01-01 12:00:00-05:00', '2024-01-01 13:00:00-05:00',
               '2024-01-01 14:00:00-05:00', '2024-01-01 15:00:00-05:00'],
              dtype='datetime64[ns, America/New_York]', freq=None)

In [43]:
data = pd.date_range(start='2024-01-01 12:00', periods=4, freq='H', tz='UTC')
data

/tmp/ipykernel_88027/3101035180.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  data = pd.date_range(start='2024-01-01 12:00', periods=4, freq='H', tz='UTC')

DatetimeIndex(['2024-01-01 12:00:00+00:00', '2024-01-01 13:00:00+00:00',
               '2024-01-01 14:00:00+00:00', '2024-01-01 15:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='h')

In [46]:
# ts.tz_convert('Asia/Calcutta')

In [69]:
# Sample daily sales data with missing dates

data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-04'], 'Sales': [100, 120, 150]}
df = pd.DataFrame(data)
df

         Date  Sales
0  2023-01-01    100
1  2023-01-02    120
2  2023-01-04    150

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)
df

            Sales
Date
2023-01-01    100
2023-01-02    120
2023-01-04    150

In [66]:
date_range = pd.date_range(start=df.index.min(), end=df.index.max())
df = df.reindex(data_range)
df

                            Sales
2024-10-31 09:34:17.343722    NaN
2024-11-01 09:34:17.343722    NaN
2024-11-02 09:34:17.343722    NaN
2024-11-03 09:34:17.343722    NaN
2024-11-04 09:34:17.343722    NaN
2024-11-05 09:34:17.343722    NaN
2024-11-06 09:34:17.343722    NaN
2024-11-07 09:34:17.343722    NaN

In [67]:
date_range = pd.date_range(start=df.index.min(), end=df.index.max())
df = df.reindex(data_range, fill_value=0)
df

                            Sales
2024-10-31 09:34:17.343722    NaN
2024-11-01 09:34:17.343722    NaN
2024-11-02 09:34:17.343722    NaN
2024-11-03 09:34:17.343722    NaN
2024-11-04 09:34:17.343722    NaN
2024-11-05 09:34:17.343722    NaN
2024-11-06 09:34:17.343722    NaN
2024-11-07 09:34:17.343722    NaN