In [1]:
import pandas as pd

In [2]:
s = '2024-10-01'
type(s)

str

In [3]:
date = pd.to_datetime(s)

In [4]:
date

Timestamp('2024-10-01 00:00:00')

In [5]:
delta = pd.Timedelta(days=5)
date2 = date + delta
date2

Timestamp('2024-10-06 00:00:00')

In [6]:
from datetime import datetime, timedelta

In [7]:
current_time = datetime.now()

In [8]:
print(current_time) #UTC

2024-11-07 13:55:54.623079

In [9]:
ist_time = current_time + timedelta(hours=5, minutes=30)
ist_time

datetime.datetime(2024, 11, 7, 19, 25, 54, 623079)

In [10]:
print(ist_time)

2024-11-07 19:25:54.623079

In [11]:
ist_time = datetime.now() + timedelta(hours=5, minutes=30)
print(ist_time)

2024-11-07 19:25:56.534688

In [12]:
current_dt = pd.to_datetime('2024-02-07 15:53:29')
current_dt

Timestamp('2024-02-07 15:53:29')

In [13]:
utc_dt = current_dt - pd.Timedelta(hours=5, minutes=30)
utc_dt

Timestamp('2024-02-07 10:23:29')

In [14]:
import yfinance as yf

In [15]:
stock_data = yf.download('AAPL', start='2021-01-01', end='2023-01-31')
stock_data

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
Date,,,,,,
2021-01-04 00:00:00+00:00,126.683434,129.410004,133.610001,126.760002,133.520004,143301900
2021-01-05 00:00:00+00:00,128.249725,131.009995,131.740005,128.429993,128.889999,97664900
2021-01-06 00:00:00+00:00,123.932640,126.599998,131.050003,126.379997,127.720001,155088000
2021-01-07 00:00:00+00:00,128.161621,130.919998,131.630005,127.860001,128.360001,109578200
2021-01-08 00:00:00+00:00,129.267807,132.050003,132.630005,130.229996,132.429993,105158200
...,...,...,...,...,...,...
2023-01-24 00:00:00+00:00,141.201950,142.529999,143.160004,140.300003,140.309998,66435100
2023-01-25 00:00:00+00:00,140.538177,141.860001,142.429993,138.809998,140.889999,65799300
2023-01-26 00:00:00+00:00,142.618622,143.960007,144.250000,141.899994,143.169998,54105100
2023-01-27 00:00:00+00:00,144.570267,145.929993,147.229996,143.080002,143.160004,70555800
2023-01-30 00:00:00+00:00,141.667557,143.000000,145.550003,142.850006,144.960007,64015300

In [16]:
monthly_stock_data = stock_data['Close'].resample('M').mean()
monthly_stock_data

/tmp/ipykernel_106825/1035353321.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_stock_data = stock_data['Close'].resample('M').mean()

Ticker                           AAPL
Date
2021-01-31 00:00:00+00:00  133.036842
2021-02-28 00:00:00+00:00  131.531579
2021-03-31 00:00:00+00:00  121.871304
2021-04-30 00:00:00+00:00  131.812858
2021-05-31 00:00:00+00:00  126.784000
2021-06-30 00:00:00+00:00  129.958636
2021-07-31 00:00:00+00:00  145.139524
2021-08-31 00:00:00+00:00  148.177727
2021-09-30 00:00:00+00:00  148.306190
2021-10-31 00:00:00+00:00  145.563809
2021-11-30 00:00:00+00:00  154.255716
2021-12-31 00:00:00+00:00  173.552727
2022-01-31 00:00:00+00:00  169.861500
2022-02-28 00:00:00+00:00  169.830001
2022-03-31 00:00:00+00:00  165.310435
2022-04-30 00:00:00+00:00  166.820999
2022-05-31 00:00:00+00:00  148.430477
2022-06-30 00:00:00+00:00  139.798573
2022-07-31 00:00:00+00:00  149.670499
2022-08-31 00:00:00+00:00  166.885218
2022-09-30 00:00:00+00:00  153.002856
2022-10-31 00:00:00+00:00  145.013333
2022-11-30 00:00:00+00:00  145.843331
2022-12-31 00:00:00+00:00  137.876666
2023-01-31 00:00:00+00:00  135.331052

In [18]:
data_rng = pd.date_range(start='2023-01-01', end='2023-01-31', freq='H')
temperature_data = pd.DataFrame(data_rng, columns=['Date'])

/tmp/ipykernel_106825/2043343386.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  data_rng = pd.date_range(start='2023-01-01', end='2023-01-31', freq='H')

In [19]:
temperature_data

                   Date
0   2023-01-01 00:00:00
1   2023-01-01 01:00:00
2   2023-01-01 02:00:00
3   2023-01-01 03:00:00
4   2023-01-01 04:00:00
..                  ...
716 2023-01-30 20:00:00
717 2023-01-30 21:00:00
718 2023-01-30 22:00:00
719 2023-01-30 23:00:00
720 2023-01-31 00:00:00

[721 rows x 1 columns]

In [20]:
import numpy as np
temperature_value = [20, 21, 22, 23, 24] * (len(data_rng) // 5)

temperature_data['temperature'] = np.resize(temperature_value, len(data_rng))
temperature_data

                   Date  temperature
0   2023-01-01 00:00:00           20
1   2023-01-01 01:00:00           21
2   2023-01-01 02:00:00           22
3   2023-01-01 03:00:00           23
4   2023-01-01 04:00:00           24
..                  ...          ...
716 2023-01-30 20:00:00           21
717 2023-01-30 21:00:00           22
718 2023-01-30 22:00:00           23
719 2023-01-30 23:00:00           24
720 2023-01-31 00:00:00           20

[721 rows x 2 columns]

In [21]:
daily_avg_temperature = temperature_data.resample('D', on='Date').mean()
daily_avg_temperature

            temperature
Date
2023-01-01    21.916667
2023-01-02    21.958333
2023-01-03    22.000000
2023-01-04    22.041667
2023-01-05    22.083333
2023-01-06    21.916667
2023-01-07    21.958333
2023-01-08    22.000000
2023-01-09    22.041667
2023-01-10    22.083333
2023-01-11    21.916667
2023-01-12    21.958333
2023-01-13    22.000000
2023-01-14    22.041667
2023-01-15    22.083333
2023-01-16    21.916667
2023-01-17    21.958333
2023-01-18    22.000000
2023-01-19    22.041667
2023-01-20    22.083333
2023-01-21    21.916667
2023-01-22    21.958333
2023-01-23    22.000000
2023-01-24    22.041667
2023-01-25    22.083333
2023-01-26    21.916667
2023-01-27    21.958333
2023-01-28    22.000000
2023-01-29    22.041667
2023-01-30    22.083333
2023-01-31    20.000000